</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Thanks for using it !&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="text-body-secondary" href="https://github.com/sanchiitvijay"><img src="logo/github.svg" width="24" height="24"></a>
    <a class="text-body-secondary" href="www.linkedin.com/in/sanchiitvijay"><img src="logo/linkedin.svg" width="24" height="24"></a>
  </p>
  </div>
</div>
</body>
</html>

