<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>qr-maker</title>
  <link rel="icon" type="image" href="logo/logo_qr.svg">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <img src="logo/logo_qr.svg" class="img">
      <div class="navbar-header">
        <p class="navbar-brand">QR MAKER</p>
      </div>
    </div>
  </nav>

  <body>
    <div class="container">
