<%- include('partials/header.ejs') %>


<form action ="/generate" method="post">
    <label>Enter full URL here...</label>
    <input type="text" class="form-control" name="url">
    <button type="submit" class="btn" >Generate</button>
</form>



<%- include('partials/footer.ejs') %>
